/*.loginPage {
  background-image: linear-gradient(
    to right bottom,
    rgba($color: $primaryColor, $alpha: 1),
    rgba($color: $secondaryColor, $alpha: 1)
  );
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;

  &__container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 35rem;
    height: 45rem;
    color: $black;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.9);
  }

  a {
    text-decoration: none;
    color: $black;
    transition: all 0.3s;

    i {
      transition: all 0.4s;
    }

    &:hover {
      color: $AprimaryColor;

      i {
        transform: rotate(360deg);
      }
    }
  }

  &__backIcon {
    font-size: 3.2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__heading {
    margin: 3rem 0 6rem 0;
    letter-spacing: 2px;
    font-size: 4rem;
  }

  &__form {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  input:not([type="submit"]) {
    background-color: $AprimaryColor;
    font-family: "Montserrat", sans-serif;
    color: $white;
    border: none;
    border-radius: 0.4rem;
    height: 3rem;
    padding: 1rem 0.5rem;
    font-size: 2rem;

    &:focus {
      outline: none;
    }

    &:valid {
      border-bottom: 4px solid #27ae60;
    }

    &:invalid {
      border-bottom: 4px solid #c0392b;
    }

    &::placeholder {
      color: white;
      font-family: inherit;
      font-size: 2rem;
    }
  }

  small {
    margin-bottom: 3rem;
    margin-top: 0.3rem;
    color: #c0392b;
    font-weight: 400;
    font-size: 1.4rem;
  }

  input[type="submit"] {
    -webkit-appearance: none;
    text-align: center;
    cursor: pointer;
    background: #c0392b;
    font-family: "Montserrat", sans-serif;
    border: none;
    font-size: 2rem;
    color: $white;
    align-self: flex-start;
    border-radius: 0.4rem;
    height: 4rem;
    width: 8rem;
  }
}*/
